<div
  class="absolute w-1/2 bottom-18 -left-2 h-[90%] border-l-3 border-[#3B82F6]/50 rounded-full -rotate-28 hidden lg:block"
></div>
<!-- LEFT SIDE TEXT -->
<div class="w-full md:w-1/2 flex items-center">
  <div class="space-y-6">
    <h1 class="lg:text-5xl md:text-4xl text-3xl font-extrabold leading-tight text-gray-900">
      Learn Digital <br />
      Skills For The <br />
      Future
    </h1>

    <p class="text-gray-500 leading-relaxed max-w-md">
      Master in-demand tech skills with expert-led courses, live mentorship, and hands-on projects.
      Join thousands of learners advancing their careers in software development, design, and
      technology.
    </p>

    <a
      routerLink="/s/courses"
      class="bg-[#3B82F6] w-fit cursor-pointer text-white flex gap-2 items-center rounded-xl px-6 py-3 shadow-[0_20px_40px_rgba(0,0,0,0.16)] hover:bg-blue-700 z-22 relative transition-all hover:scale-105 duration-300 text-[20px] font-medium"
    >
      Get Started
      <svg
        width="15"
        height="15"
        viewBox="0 0 15 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.292893 12.5429C-0.0976311 12.9334 -0.097631 13.5666 0.292893 13.9571C0.683418 14.3476 1.31658 14.3476 1.70711 13.9571L1 13.25L0.292893 12.5429ZM14.25 0.999998C14.25 0.447713 13.8023 -1.92822e-06 13.25 -1.88166e-06L4.25 -1.12302e-06C3.69772 -1.07647e-06 3.25 0.447714 3.25 0.999999C3.25 1.55228 3.69772 2 4.25 2L12.25 2L12.25 10C12.25 10.5523 12.6977 11 13.25 11C13.8023 11 14.25 10.5523 14.25 10L14.25 0.999998ZM1 13.25L1.70711 13.9571L13.9571 1.7071L13.25 0.999998L12.5429 0.292891L0.292893 12.5429L1 13.25Z"
          fill="white"
        />
      </svg>
    </a>
  </div>
</div>

<!-- RIGHT SIDE IMAGE & STATS -->
<div class="relative w-full md:w-1/2 mt-12 md:mt-0 flex justify-center h-full">
  <!-- Outer Circle -->
  <div
    class="absolute md:w-108 md:h-105 h-85 w-85 bottom-0 rounded-full border-[2px] border-blue-200"
  ></div>

  <!-- Inner Blue Circle -->
  <div class="absolute md:w-100 md:h-100 w-80 h-80 bottom-0 rounded-full bg-[#3B82F6]"></div>

  <!-- Main Image -->
  <img
    src="../../../assets/images/Gemini_Generated_Image_p6lrdwp6lrdwp6lr 1.svg"
    class="relative z-10 md:w-[360px] w-[300px] h-auto"
    alt="student"
  />

  <!-- LEFT STAT CARD (40K+) -->
  <div
    class="absolute md:-left-20 -left-4 md:top-1/5 top-1/6 bg-white shadow-lg px-5 py-3 md:rounded-full rounded-4xl border border-blue-300 flex items-center space-x-4 flex-col md:flex-row border-bg-blue-600 transition-all hover:scale-105 duration-300"
  >
    <div class="flex flex-col font-bold leading-tight">
      <span class="text-lg">40K+</span>
      <span class="text-xs text-gray-500 font-medium">Learners</span>
    </div>

    <div class="flex -space-x-2 mt-2">
      <img src="../../../assets/images/Image-80.svg" class="w-9 h-9 rounded-full border" />
      <img src="../../../assets/images/Image-80.svg" class="w-9 h-9 rounded-full border" />
      <img src="../../../assets/images/Image-80.svg" class="w-9 h-9 rounded-full border" />
      <img src="../../../assets/images/Image-80.svg" class="w-9 h-9 rounded-full border" />
    </div>
  </div>

  <!-- RIGHT STAT CARD (2K+) -->
  <div
    class="absolute right-0 md:top-1/3 top-2/3 bg-white shadow-lg px-5 py-3 rounded-xl flex items-center space-x-3 z-10 border border-blue-300 transition-all hover:scale-105 duration-300"
  >
    <div class="w-8 h-8 rounded-md bg-blue-500 flex items-center justify-center">
      <!-- Your Icon -->
      <img src="../../../assets/images/Online Education.svg" class="w-5 h-5" />
    </div>

    <div class="flex flex-col leading-tight">
      <span class="font-bold text-lg">2K+</span>
      <span class="text-sm text-gray-500">Video Courses</span>
    </div>
  </div>

  <!-- BOTTOM STAT CARD (250+) -->
  <div
    class="absolute -bottom-10 md:left-1/2 -translate-x-1/2 bg-white shadow-lg px-5 py-3 rounded-xl flex items-center space-x-3 z-10 border border-blue-300 transition-all hover:scale-105 duration-300"
  >
    <div class="w-8 h-8 rounded-md bg-blue-500 flex items-center justify-center">
      <!-- your icon -->
      <img src="../../../assets/images/Board.svg" class="w-5 h-5" />
    </div>

    <div class="flex flex-col leading-tight">
      <span class="font-bold text-lg">250+</span>
      <span class="text-sm text-gray-500">Experts</span>
    </div>
  </div>
</div>
