.git
.gitignore
.gitattributes
.env.example
.env.backup
.env.production
.phpunit.result.cache
node_modules
npm-debug.log
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
public/hot
public/storage
*.log
.DS_Store
Thumbs.db
tests
.editorconfig
.styleci.yml
docker-compose*.yml
README*.md
.vscode
.idea
*.md

