<div class="max-w-6xl mx-auto text-center space-y-6">
  <div class="flex justify-center mb-2">
    <span class="pt-1 border-t-4 border-[#3B82F6] w-20 h-1 block"> </span>
  </div>

  <h2 class="text-3xl font-bold">Frequently Asked Questions</h2>
  <p class="text-gray-500 text-lg max-w-2xl text-center mx-auto">
    Find answers to common questions about our courses, pricing, certification, and learning
    platform. Still have questions? Contact our support team.
  </p>

  <app-accordion></app-accordion>
</div>
